.ransharing-container {
    // border: 2px solid black;
    text-align: center;
    // display: flex;
    // align-items: flex-start;

    h1 {
        text-align: center;
    }
    h5 {
        padding-top: 50px;
    }
}

.ransharing-table {
    // border: 2px solid red;
    margin: auto;
    
    border-collapse: collapse;

    thead {
        border-bottom: 2px solid black
    }
    tr { border: none; }
    td {
        border-right: solid 1px black; 
        border-left: solid 1px black;
      }
}